@import url('/resources/template/sbadmin/vendor/fontawesome-free/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import url('/resources/template/sbadmin/css/sb-admin-2.min.css');
@import url('/resources/template/sbadmin/vendor/datatables/dataTables.bootstrap4.min.css');
@import url('/resources/template/sbadmin/vendor/tagsinput/tagsinput.css');
@import url('/resources/template/sbadmin/vendor/katex/cdn.jsdelivr.net_npm_katex@0.12.0_dist_katex.min.css');

.menu {
    margin: 0 !important;
    padding: 0 !important;
    position: fixed;
    z-index: 10;
    border-radius: 15px;
    list-style-type: none;
    background-color: white;
    display: none;
    box-shadow: 1px 1px 5px #eee, -1px -1px 5px #eee;
    overflow: hidden;
}

.menu-item {
    width: 8.5rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font: 100 0.85rem helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.75);
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.menu-icon {
    font-size: 1rem;
}

hr {
    margin: 0 !important;
    padding: 0 !important;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
}

.visible {
    display: block;
}

.bootstrap-tagsinput .badge {
    margin-left: 5px;
    margin-right: 5px;
}

.katex i {
    font-style: normal !important;
}



.paket-item {
    transition: .5s;
}

.paket-item a {
    color: inherit !important;
}

.hovered-item:hover {
    background-color: #5555550e;
}

.paket-item:hover {
    background-color: #5555550e;
    cursor: pointer;
}

.list-video-item {
    padding: 10px;
    border-radius: 10px;
}

.list-video-item:hover {
    background-color: #55555535;
    color: black;
    cursor: pointer;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.overflow-hidden {
    overflow: hidden !important;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hide {
    display: none !important;
}

/* Set the overflow property to enable scrolling */
.scrollable-div {
    overflow: auto;
}

/* Customize the scrollbar for the scrollable div */
.scrollable-div::-webkit-scrollbar {
    width: 5px;
}

.scrollable-div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollable-div::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 15px;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
    background: #555;
}


body {
    font-family: 'Nunito' !important;
}

.folder-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 15px;
}

.folder-col:hover {
    color: #cd2c62;
    background-color: #bbbbbb1e;
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

.folder-col i {
    font-size: 100px;
}

.ck-editor__editable {
    border: none !important;
    border-radius: 10px !important;
    padding: 10px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

.ck.ck-toolbar {
    border: none !important;
}

.ck.ck-editor {
    border: 1px solid #ddd !important;
    border-radius: 10px !important;
    overflow: hidden !important;
}


#sidebarToggle::after {
    color: #ef95b3 !important;
    font-size: 25px;

}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
button,
select {
    border-radius: 8px !important;
    font-size: 12px !important;
    height: 40px !important;
}

.cursor-pointer {
    cursor: pointer !important;
}


input:focus {
    border: 1px solid #EC407A !important;
}



.bg-main {
    background-color: #ef95b3;
}

#accordionSidebar {
    background-color: white !important;
}

.navbar {
    background-color: transparent !important;
}

.main-radius {
    border-radius: 10px !important;
}

.main-color {
    color: #cd2c62;
}

.sidebar li a,
.sidebar li span {
    font-size: 14px !important;
    color: black !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    margin-top: 10px;
    width: 90% !important;

}

.sidebar li a:hover,
.sidebar li.active a {
    background-color: #cd2c6211;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    font-weight: 500 !important;
}

.toggled.sidebar li span {
    display: none !important;
}





body .card {
    border-radius: 15px !important;
}

#content {
    background-color: #F7F8FF !important;
    padding-left: 5px;
    /* background: url(../../public/assets/img/bg4png.png); */
    background-repeat: no-repeat !important;
    /* background-position: 100px !important; */
    background-size: cover !important;
    background-attachment: fixed !important;
}

.sidebar li i {
    color: #ff9898 !important;
    font-size: 20px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.sidebar-heading {
    color: #696969 !important;
}

.sidebar-divider {
    border: 1px solid #eee;
}

.login-wrapper .ilustration {
    background-color: #EC407A !important;
}

.login-wrapper {
    width: 100vw;
    height: 100vh;
}

.login-wrapper .row {
    height: 100vh;
}

.primary-btn {
    background-color: #EC407A;
    border: 1px solid #EC407A;
}

.primary-btn:hover {
    background-color: #cd2c62;
    border: 1px solid #EC407A;
}


.primary-btn:focus,
.primary-btn:active {
    background-color: #dadada !important;
    border: 1px solid #dadada !important;

}

.flash-message {}

#flash-message {
    background-color: rgba(255, 228, 196, 0.8);
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
    transition: 1s;
    z-index: -10;
}

#flash-message.show {
    opacity: 1;
    z-index: 9999;
}